@keyframes blinkWhite {
  0%, 100% {
    background-color: #ffffff; /* normal white */
    color: #1a202c; /* normal text-gray-900 */
  }
  50% {
    background-color: #f59e0b; /* yellow-500 */
    color: #ffffff;
  }
}

@keyframes blinkBlack {
  0%, 100% {
    background-color: #2d3748; /* normal gray-800 */
    color: #ffffff;
  }
  50% {
    background-color: #f59e0b; /* yellow-500 */
    color: #ffffff;
  }
}

.animate-blink-white {
  animation: blinkWhite 1.0s infinite;
}

.animate-blink-black {
  animation: blinkBlack 1.0s infinite;
}
